body {
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 0;
    padding: 0;
}
* {
    color: white;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
